#edit-entry-dialog {
  overflow: visible;
}

#entries-holder {
  border: 1px dotted gray;
  border-left: none;
  width: 600px;
  height: 506px;
  float: left;
}

#entries-table {
  border: 0;
  padding: 0;
  th {
    font-size: 14px;
  }
  .icon-column {
    width: 18px;
    text-align: center;
  }
}

.tablesorter-jui {
  margin: 0;
}