#edit-entry-dialog {
  overflow: visible;
}

#entries-holder {
  border: 1px solid gray;
  width: 498px;
  height: 200px;
}

.max-width {
  width: 100%;
}

.entries-list {
  tbody tr:hover {
    background-color: #f2f7fd;
  }
}