.ui-widget {
  font-size: 12px;
}

#edit-group-dialog {
  overflow: visible;
}

input.text {
  width: 95%;
  padding: .4em;
}

#jstree_holder {
  width: 200px;
}

#groups-tree-holder {
  width: 500px;
}