.ui-widget {
  font-size: 12px;
}

#edit-group-dialog {
  overflow: visible;
}

input.text {
  width: 95%;
  padding: .4em;
}

#groups-tree-holder {
  width: 300px;
  float: left;
  height: 600px;
}

ul.dynatree-container {
  border: 1px solid silver;
}